body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
    
}
div{
    margin: auto;
    border-radius: 50px;
    width: 600px;
    
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background: linear-gradient(#f69d3c, #3f87a6);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
input{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    border-radius: 5px;
    color: lightgrey;
    margin-bottom: 10px;
}
h1{
    font-family: 'Bungee Shade', cursive, sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: blue;
}
button{
    margin-bottom: 20px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border-color: black;
}
p{
    font-size: large;
    color: darkblue;
    font-style: italic;
}